/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

body {
  background-color: #959595;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #424242;
  border: 1px solid black;
  color: white;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;}
  button:hover {
    background-color: #814b8c;
  }
  button:active {
    background-color: #a12353;
  }
  button:disabled {
    background-color: #a4a4a4;
  }

  .title {
    font-size: 4em;
    padding-bottom: 0.5rem;
  }

  .form-row {
    padding: 0.5rem 1rem;}
  
  label {
    display: block;
  }
  .subtitle {
    font-size: 2.25em;
  }
  .fileTypes {
    padding-bottom: 1rem;
  }
  .details-text {
    padding: 1rem;
  }
  .error {
    color: red;
    padding-top: 0.5rem;
  }
